html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1587ea;
  overflow: hidden;
}

body {
  font: 14px/1.5 Ubuntu, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: white;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: table;
  overflow-wrap: break-word;
  background-size: cover;
  background-position-x: center;
  background-position-x: center;
}

* {
  box-sizing: border-box;
}

.main {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mainbox {
  vertical-align: middle;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .5);
  display: inline-block;
  width: 600px;
}
